/* font for the logo */
@font-face {

    font-family: 'logoFont';
    src: url('./DancingScript-Bold.ttf') format('woff');
    font-weight: 600;  
    font-style: normal;   
}
/* Font for the navigation Options */
@font-face {

    font-family: 'navLinksFont';
    src: url('./CrimsonPro-Regular.ttf') format('woff');
    font-weight: 600;  
    font-style: normal;
    
}

#navBar{    
    min-width: 100%;
    min-height: 1%;
    background-color: rgb(28, 78, 78);
    position: sticky;
    /* top: 0; */
    display: flex;
    flex-flow: column;
    /* z-index: 1; */
    /* justify-content: space-between;
    padding: 1.5rem 2rem; */
    /* position: fixed; */
  
}

#logo{
    font-size: 500%;
    color: rgb(195, 235, 248);
    /* padding-bottom: 10px; */
    text-align: center;
    font-family: 'logoFont';
    padding: none;
    margin: auto;
    
}

#navList{
    color: rgb(195, 235, 248);
    display: flex;
    flex-flow: row;
    margin: auto;
    /* max-height: 20%; */

}

.navLink{
    text-decoration: none;
    font-family: 'navLinksFont';
    font-size: 120%;
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
}

#content{
    /* top: 0; */
    height: 100%;
    width: 100%;
    z-index: 0;  
    display: flex;
    flex-direction: column;  
}

#mainContent{
    width: 50%;
    height: fit-content;
    background-color: ivory;
    z-index: 0;
    margin: auto;
    position: relative;
    /* top: 50px; */
    /* bottom: 50px; */
}

#pageBackgroundImage{
    background: url('./home1.jpg');
    height: inherit;
    width: inherit;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    position: fixed;
    z-index: -1;
}

#menuBackgroundImage{
    background: url('./menu2.jpg');
    height: inherit;
    width: inherit;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    position: fixed;
    z-index: -1;
}

#aboutUsBackgroundImage{
    background: url('./cupobeans.jpeg');
    height: inherit;
    width: inherit;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    position: fixed;
    z-index: -1;
}

#footer{
    background-color: rgb(28, 78, 78);
    width: 100%;
    color: rgb(195, 235, 248);
    text-align: center;
    position: fixed;
    bottom: 0;
}

body{
    /* padding-left: -100px; */
    height: 100%;
    width: 100%;
    margin: auto;
}

