/* font for the logo */
@font-face {

    font-family: 'logoFont';
    src: url('./DancingScript-Bold.ttf') format('woff');
    font-weight: 600;  
    font-style: normal;   
}
/* Font for the navigation Options */
@font-face {

    font-family: 'navLinksFont';
    src: url('./CrimsonPro-Regular.ttf') format('woff');
    font-weight: 600;  
    font-style: normal;
    
}



#navBar{    
    min-width: 100%;
    min-height: 15%;
    background-color: rgb(28, 78, 78);
    position: sticky;
    top: 0;
    display: flex;
    flex-flow: column;
    z-index: 1;
    /* justify-content: space-between;
    padding: 1.5rem 2rem; */
    position: fixed;
  
}

#logo{
    font-size: 70px;
    color: rgb(195, 235, 248);
    /* padding-bottom: 10px; */
    text-align: center;
    font-family: 'logoFont';
}

#navList{
    color: rgb(195, 235, 248);
    display: flex;
    flex-flow: row;
    margin: auto;
}

.navLink{
    text-decoration: none;
    font-family: 'navLinksFont';
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
}



#content{
    /* margin: 0;
    padding: 0; */
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
}

#pageBackgroundImage{
    background: url('./home1.jpg');
    height: inherit;
    width: inherit;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    position: fixed;
}

#menuBackgroundImage{
    background: url('./menu2.jpg');
    height: inherit;
    width: inherit;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    position: fixed;
}

#aboutUsBackgroundImage{
    background: url('./cupobeans.jpeg');
    height: inherit;
    width: inherit;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    position: fixed;
}

body{
    
    height: 99%;
    width: 99%;
    
    
}

